@font-face {
  font-family: "Heading";
  src: url("../../../assets/fonts/TT\ Ramillas\ Trial\ Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "LightHeading";
  src: url("../../../assets/fonts/TT\ Ramillas\ Trial\ Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Content";
  src: url("../../../assets/fonts/TT\ Interphases\ Pro\ Trial\ Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "DarkContent";
  src: url("../../../assets/fonts/TT\ Interphases\ Pro\ Trial\ Medium.ttf") format("truetype");
  font-style: normal;
}

